body {
    /*font-family: "Times New Roman", Times, serif;*/
    /*font-family: Sofia, sans-serif;*/
    font-family: Nunito, sans-serif;
}

a {
    text-decoration: underline dotted;
}

#back-to-top {
    display: none;
}

/* Show the button when the page is scrolled */
body.scrolled #back-to-top {
    display: block;
}